In [1]:
import pandas as pd
import numpy as np

In [2]:
# data = pd.read_csv("https://raw.githubusercontent.com/amankharwal/Website-data/master/student-mat.csv")
# data.to_csv("Students Grade.csv")

data = pd.read_csv(r"D:\PFP\Projects\Student Grade Prediction\Students Grade.csv")
data.head()

,Unnamed: 0,school,sex,age,address,famsize,Pstatus,Medu,Fedu,Mjob,...,famrel,freetime,goout,Dalc,Walc,health,absences,G1,G2,G3
0,0,GP,F,18,U,GT3,A,4,4,at_home,...,4,3,4,1,1,3,6,5,6,6
1,1,GP,F,17,U,GT3,T,1,1,at_home,...,5,3,3,1,1,3,4,5,5,6
2,2,GP,F,15,U,LE3,T,1,1,at_home,...,4,3,2,2,3,3,10,7,8,10
3,3,GP,F,15,U,GT3,T,4,2,health,...,3,2,2,1,1,5,2,15,14,15
4,4,GP,F,16,U,GT3,T,3,3,other,...,4,3,2,1,2,5,4,6,10,10

In [3]:
data.shape

(395, 34)

In [4]:
data.isnull().sum()

Unnamed: 0    0
school        0
sex           0
age           0
address       0
famsize       0
Pstatus       0
Medu          0
Fedu          0
Mjob          0
Fjob          0
reason        0
guardian      0
traveltime    0
studytime     0
failures      0
schoolsup     0
famsup        0
paid          0
activities    0
nursery       0
higher        0
internet      0
romantic      0
famrel        0
freetime      0
goout         0
Dalc          0
Walc          0
health        0
absences      0
G1            0
G2            0
G3            0
dtype: int64

In [5]:
data.columns

Index(['Unnamed: 0', 'school', 'sex', 'age', 'address', 'famsize', 'Pstatus',
       'Medu', 'Fedu', 'Mjob', 'Fjob', 'reason', 'guardian', 'traveltime',
       'studytime', 'failures', 'schoolsup', 'famsup', 'paid', 'activities',
       'nursery', 'higher', 'internet', 'romantic', 'famrel', 'freetime',
       'goout', 'Dalc', 'Walc', 'health', 'absences', 'G1', 'G2', 'G3'],
      dtype='object')

In [6]:
x_data = data[["G1","G2","studytime","failures","absences"]]
y_data = data["G3"]

In [7]:
X = np.array(x_data)
y = np.array(y_data)

In [8]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X,y,test_size=0.2)

In [9]:
from sklearn.linear_model import LinearRegression

model = LinearRegression()

model.fit(X_train,y_train)

y_predict = model.predict(X_test)

In [10]:
final = pd.DataFrame(data={"Original G3": y_test,"Predicted G3": y_predict.round(2)}).reset_index(drop=True)
final.head(20)

    Original G3  Predicted G3
0            18         18.96
1             9          9.55
2            19         18.41
3            10          8.97
4            10          9.86
5            18         18.62
6            14         12.74
7            12         11.64
8            10         10.15
9            15         16.41
10           10          9.25
11           13         12.66
12           19         18.38
13           12         10.47
14            7          7.14
15            0         -0.30
16           13         12.92
17            8          7.17
18            8          8.51
19           16         15.19

In [11]:
accuracy = model.score(X_test, y_test)
print(accuracy)

0.8634243231157829